schema/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <!-- Type partagé pour un <trait> simple avec lien optionnel -->
  <xs:complexType name="traitRefType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="ref" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Liste de traits avec référence optionnelle (utilisée dans les frappes et capacités) -->
  <xs:complexType name="traitListType">
    <xs:sequence>
      <xs:element name="trait" type="traitRefType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Type de base pour une frappe (sans bonus) - utilisé par les formes de combat -->
  <xs:complexType name="baseStrikeType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="traits" type="traitListType" minOccurs="0"/>
      <xs:element name="damages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="damage" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="amount" type="xs:string"/>
                  <xs:element name="damageType" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="extras" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="extra" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string"/>
  </xs:complexType>

</xs:schema>
