schema/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <!-- Type partagé pour un <trait> simple avec lien et catégorie optionnels -->
  <xs:complexType name="traitRefType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="ref" type="xs:string"/>
        <!-- Catégorie sémantique du trait : size, rarity, ancestry, mixed-heritage, versatile-heritage… -->
        <xs:attribute name="type" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Liste de traits avec référence optionnelle (utilisée dans les frappes et capacités) -->
  <xs:complexType name="traitListType">
    <xs:sequence>
      <xs:element name="trait" type="traitRefType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Degrés de succès (Succès critique / Succès / Échec / Échec critique) -->
  <xs:complexType name="successDegreesType">
    <xs:sequence>
      <xs:element name="criticalSuccess" type="xs:string" minOccurs="0"/>
      <xs:element name="success" type="xs:string" minOccurs="0"/>
      <xs:element name="failure" type="xs:string" minOccurs="0"/>
      <xs:element name="criticalFailure" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Type de base pour toute activité (action, réaction, don-activité, sous-activité conférée) -->
  <xs:complexType name="activityType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <!-- Nombre d'actions (0=libre, 1/2/3=actions, R=réaction, 9=réaction alt.) -->
      <xs:element name="actions" type="xs:string" minOccurs="0"/>
      <xs:element name="traits" type="traitListType" minOccurs="0"/>
      <xs:element name="frequency" type="xs:string" minOccurs="0"/>
      <xs:element name="trigger" type="xs:string" minOccurs="0"/>
      <xs:element name="requirement" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="successDegrees" type="successDegreesType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Activité conférée par un don (ex. S'enraciner dans Racines solides) -->
  <xs:complexType name="grantedActivityType">
    <xs:complexContent>
      <xs:extension base="activityType"/>
    </xs:complexContent>
  </xs:complexType>

  <!-- Type de base pour une frappe (sans bonus) - utilisé par les formes de combat -->
  <xs:complexType name="baseStrikeType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="traits" type="traitListType" minOccurs="0"/>
      <xs:element name="damages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="damage" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="amount" type="xs:string"/>
                  <xs:element name="damageType" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="extras" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="extra" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string"/>
  </xs:complexType>

</xs:schema>
