schema/feat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           elementFormDefault="qualified"
           vc:minVersion="1.1">

  <xs:include schemaLocation="common.xsd"/>

  <!-- Racine : liste de feats (dons et actions) -->
  <xs:element name="feats">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="feat" type="featType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- featType étend activityType (name/actions/traits/frequency/trigger/requirement/description/successDegrees)
       en ajoutant les champs propres aux dons : level, skills, prerequisites, special, grantedActivity.
       Ordre XML résultant : champs activityType d'abord, puis champs de l'extension. -->
  <xs:complexType name="featType">
    <xs:complexContent>
      <xs:extension base="activityType">
        <xs:sequence>
          <!-- Niveau (présent pour les dons, absent pour les actions basiques) -->
          <xs:element name="level" minOccurs="0">
            <xs:simpleType>
              <xs:restriction base="xs:integer">
                <xs:minInclusive value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <!-- Compétences associées (pour les actions de compétence) -->
          <xs:element name="skills" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="skill" type="xs:string" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <!-- Prérequis (attributs, dons, rangs de compétence requis) -->
          <xs:element name="prerequisites" type="xs:string" minOccurs="0"/>
          <!-- Section Spécial (cas particuliers, cumul de sélections, etc.) -->
          <xs:element name="special" type="xs:string" minOccurs="0"/>
          <!-- Activité(s) conférée(s) par le don (sous-actions imbriquées, ex. S'enraciner) -->
          <xs:element name="grantedActivity" type="grantedActivityType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <!-- Identifiant unique : action-{slug} ou feat-{slug} -->
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <!-- Type : don, action, reaction, action-libre -->
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="don"/>
              <xs:enumeration value="action"/>
              <xs:enumeration value="reaction"/>
              <xs:enumeration value="action-libre"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <!-- Catégorie de don : ancestry, class, archetype, general, skill
             Contrainte (non exprimable en XSD 1.0) :
               si category="ancestry" alors traits doit contenir au moins un trait
               avec type ∈ {ancestry, mixed-heritage, versatile-heritage}
             Cette contrainte est vérifiée par le mapper Python. -->
        <xs:attribute name="category" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="ancestry"/>
              <xs:enumeration value="class"/>
              <xs:enumeration value="archetype"/>
              <xs:enumeration value="general"/>
              <xs:enumeration value="skill"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        
        <xs:assert test="not(@category = 'ancestry') or (level and level mod 4 = 1)"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
