schema/spell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <xs:include schemaLocation="common.xsd"/>
  
  <xs:element name="spells">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="spell" type="spellType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="spellType">
    <xs:annotation>
      <xs:documentation>
        Contraintes de gestion (appliquées par xml_validator.py, équivalent xs:assert XSD 1.1) :
          assert 1 — type="spell"   → count(traditions/tradition) >= 1  (tradition obligatoire)
          assert 2 — type="focus"   → not(traditions/tradition)          (aucune tradition)
          assert 3 — type="cantrip" → pas de contrainte sur les traditions
          assert 4 — cast présent   → not(actions)
                     Un sort avec une durée d'incantation (Incantation : 1 min, 10 min…)
                     n'a pas de symbole d'action ; les deux champs sont mutuellement exclusifs.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      
      <xs:element name="rank">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      
      <xs:element name="actions" type="xs:string" minOccurs="0"/>
      
      <xs:element name="traits" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="trait" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="ref" type="xs:string"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="traditions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tradition" type="traditionType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="cast" type="xs:string" minOccurs="0"/>
      <xs:element name="cost" type="xs:string" minOccurs="0"/>
      <xs:element name="condition" type="xs:string" minOccurs="0"/>
      <xs:element name="trigger" type="xs:string" minOccurs="0"/>
      <xs:element name="range" type="xs:string" minOccurs="0"/>
      <xs:element name="area" type="xs:string" minOccurs="0"/>
      <xs:element name="targets" type="xs:string" minOccurs="0"/>
      <xs:element name="defense" type="xs:string" minOccurs="0"/>
      <xs:element name="duration" type="xs:string" minOccurs="0"/>
      
      <xs:element name="description" type="richTextType"/>
      
      <xs:element name="savingThrow" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="criticalSuccess" type="richTextType" minOccurs="0"/>
            <xs:element name="success" type="richTextType" minOccurs="0"/>
            <xs:element name="failure" type="richTextType" minOccurs="0"/>
            <xs:element name="criticalFailure" type="richTextType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="heightenList" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="heighten" maxOccurs="unbounded">
              <xs:complexType mixed="true">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="spellRef" type="xs:string"/>
                </xs:choice>
                <xs:attribute name="type" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="table" type="tableType" minOccurs="0" maxOccurs="unbounded"/>

    </xs:sequence>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="spell"/>
          <xs:enumeration value="cantrip"/>
          <xs:enumeration value="focus"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="id" type="xs:ID"/>
    <!-- assert 1 : type=spell → au moins une tradition -->
    <xs:assert test="not(@type = 'spell') or count(traditions/tradition) >= 1"
               xpathDefaultNamespace="##targetNamespace"/>
    <!-- assert 2 : type=focus → aucune tradition -->
    <xs:assert test="not(@type = 'focus') or not(traditions/tradition)"
               xpathDefaultNamespace="##targetNamespace"/>
    <!-- assert 4 : cast présent → pas d'actions (Incantation avec durée = pas de symbole d'action) -->
    <xs:assert test="not(cast) or not(actions)"
               xpathDefaultNamespace="##targetNamespace"/>
  </xs:complexType>

  <!-- Type pour les formes de combat (sorts de type Métamorphose avec tableau de formes) -->
  <xs:complexType name="battleFormType">
    <xs:sequence>
      <xs:element name="globalStats" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ac" type="xs:string" minOccurs="0"/>
            <xs:element name="tempHp" type="xs:string" minOccurs="0"/>
            <xs:element name="attackBonus" type="xs:string" minOccurs="0"/>
            <xs:element name="damageBonus" type="xs:string" minOccurs="0"/>
            <xs:element name="athletics" type="xs:string" minOccurs="0"/>
            <xs:element name="senses" type="xs:string" minOccurs="0"/>
            <xs:element name="speed" type="xs:string" minOccurs="0"/>
            <xs:element name="strike" type="baseStrikeType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="note" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="formEntry" type="battleFormEntryType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Type pour une entrée de forme (nom, vitesse, et frappes) -->
  <xs:complexType name="battleFormEntryType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="speed" type="xs:string"/>
      <xs:element name="strike" type="baseStrikeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="note" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="richTextType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="list" type="listType"/>
      <xs:element name="table" type="tableType"/>
      <xs:element name="spellRef">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="ref" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="battleForm" type="battleFormType"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="listType">
    <xs:sequence>
      <xs:element name="listItem" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tableType">
    <xs:sequence>
      <xs:element name="headerLine" type="rowType" minOccurs="0"/>
      <xs:element name="line" type="rowType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element name="cell" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="traditionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="arcanique"/>
      <xs:enumeration value="occulte"/>
      <xs:enumeration value="primordiale"/>
      <xs:enumeration value="divine"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>