schema/spell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">
  
  <xs:element name="spells">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="spell" type="spellType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="spellType">
    <xs:annotation>
      <xs:documentation>
        Contraintes de gestion (appliquées par xml_validator.py, équivalent xs:assert XSD 1.1) :
          assert 1 — type="spell"   → count(traditions/tradition) >= 1  (tradition obligatoire)
          assert 2 — type="focus"   → not(traditions/tradition)          (aucune tradition)
          assert 3 — type="cantrip" → pas de contrainte sur les traditions
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      
      <xs:element name="rank">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      
      <xs:element name="actions" type="xs:string" minOccurs="0"/>
      
      <xs:element name="traits" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="trait" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="ref" type="xs:string"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="traditions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tradition" type="traditionType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="cast" type="xs:string" minOccurs="0"/>
      <xs:element name="range" type="xs:string" minOccurs="0"/>
      <xs:element name="area" type="xs:string" minOccurs="0"/>
      <xs:element name="targets" type="xs:string" minOccurs="0"/>
      <xs:element name="defense" type="xs:string" minOccurs="0"/>
      <xs:element name="duration" type="xs:string" minOccurs="0"/>
      
      <xs:element name="description" type="richTextType"/>
      
      <xs:element name="savingThrow" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="criticalSuccess" type="richTextType" minOccurs="0"/>
            <xs:element name="success" type="richTextType" minOccurs="0"/>
            <xs:element name="failure" type="richTextType" minOccurs="0"/>
            <xs:element name="criticalFailure" type="richTextType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="heightenList" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="heighten" maxOccurs="unbounded">
              <xs:complexType mixed="true">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="spellRef" type="xs:string"/>
                </xs:choice>
                <xs:attribute name="type" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
    </xs:sequence>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="spell"/>
          <xs:enumeration value="cantrip"/>
          <xs:enumeration value="focus"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="id" type="xs:ID"/>
  </xs:complexType>
  
  <xs:complexType name="richTextType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="spellRef">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="ref" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  
  <xs:simpleType name="traditionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="arcanique"/>
      <xs:enumeration value="occulte"/>
      <xs:enumeration value="primordiale"/>
      <xs:enumeration value="divine"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>